@font-face {
    font-family: 'PTSans-regular'; 
    src: url('../fonts/PTSans-Regular.woff'), url('../fonts/PTSans-Regular.ttf'); 
   }
@font-face {
    font-family: 'PTSans-bold'; 
    src: url('../fonts/PTSans-Bold.woff'), url('../fonts/PTSans-Bold.ttf'); 
   }
@font-face {
    font-family: 'PTSans-italic'; 
    src: url('../fonts/PTSans-Italic.woff'), url('../fonts/PTSans-Italic.ttf'); 
   }