            <footer>
                {% if (footer is not empty) %}
                   <aside>
                    <div class="container">
                        <div class="row one">
                            <div class="col-12 col-md-8"></div>
                            <div class="col-12 col-md-4">
                                {{footer}}
                            </div>
                        </div>
                    </div>
                </aside>
                {% endif %}
            </footer>
        </div>