//Height
$header_height: 96px;

//Colors
$background: #f8f8f8;
$bg: #f2f1ee;
$black: #000;
$dark: rgba(0,0,0,0.1);
$white: #fff;
$grey: #e8e8e8;
$red: rgba(230,23,24, 0.5);
$red_s: rgba(230,23,24, 0.8);
$red_t: rgba(230,23,24, 1);
$transparent: transparent;

//Fonts sizes
$bigger: 24px;
$big: 18px;
$middle: 16px;
$small: 11px;

//Fonts-family
$regular: 'PTSans-regular';
$bold: 'PTSans-bold';
$italic: 'PTSans-italic';

//Line-height
$middler-height: 1.8;
$middle-height: 1.5;
$none: 0;